.user{
    width: 70px;
    height: 60px;
  
}

.form {
   
    margin-bottom: 50px;
    margin-left: 30px;
    width: 400px;
    background-color: #4e4d4d;
    color: white;
    border-radius: 10px;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 10px;

}

.button {
    border-radius: 4px;
    width: 140px;
    background-color: #3e41d1;
    color: white;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    border: none;

}

.button:hover,
.button:focus {
    background-color: #d32f2f;
}

.label {
    margin-bottom: 8px;
}

.error {
    color: rgb(119, 4, 4);
}
.input{
    border-radius: 4px;
    height: 25px;
}